
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminproCustomer.cshtml";
}

<h2>Report Problem</h2>
<div class="container">
    <hr />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="LoadHiddenNotification();">Problem</button><br /><br />
    <table class="table table-hover" id="table">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    Problem
                </th>
                @*<th>
                    Customer Name
                </th>*@
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Problem Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    @*<div class="form-group">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                    </div>*@
                    <div class="form-group">
                        <label for="Problem">What's Your Problem</label>
                        <textarea  class="form-control" id="Problem" placeholder="Problem"></textarea>
                        <span style="color:red" class="error">Valid Problem Requiere</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="ValidationSave();">Add</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="ValidationEdit();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="LoadHiddenNotification();">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <link href="~/Scripts/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/Content/datatables/jquery.dataTables.min.js"></script>
    <link href="~/Scripts/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/Content/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/TicketMaster/RetrievingTicket.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}




